@page "/nqueengui"

@rendermode InteractiveServer

<PageTitle>NQueen GUI</PageTitle>

<h1>NQueen GUI</h1>
<br />

<NChessboard @ref="_nChessboard" BoardSize="15" CanvasSize="1000" ShowDebuggingTools="true" />

